
<form action="/payment/results">
<label for="apr_id">APR</label><input id="apr_id" name= "user_apr" placeholder="E.g. 5.42"><br>
<label for="year_id">Number of years</label><input id="year_id" name= "user_years" placeholder="How many years to repay?"><br>
<label for="pv_id">Principal</label><input id="pv_id" name= "user_pv" placeholder="How much principal?"><br>
  <button>Calculate monthly payment</button>

</form>
